---
import BaseLayout from "../../layouts/base.astro";

const { Content } = Astro.props;

export async function getStaticPaths() {
  const posts = await Astro.glob('../../content/blog/*.mdx')

  return posts.flatMap(({ Content, frontmatter }) => {
    if (frontmatter.external_url) return []
  
    return {
      params: { post: frontmatter.slug },
      props: { Content} 
    }
  })
}
---

<BaseLayout>
  <div class="mx-auto my-12 prose prose-stone !prose-invert prose-pre:bg-stone-400">
    <Content />
  </div>
</BaseLayout>