---
import BaseLayout from "../layouts/base.astro";
import Highlights from "../components/highlights.astro";
import PostPreview from "../components/post-preview.astro";
import TextGradient from "../components/text-gradient.astro";

const allPosts = await Astro.glob("../content/blog/*.mdx");
const posts = allPosts
  .filter((post) => post.frontmatter.published)
  .slice(0, 3)
  .sort((a, b) => b.frontmatter.date.localeCompare(a.frontmatter.date));
---

<BaseLayout>
  <main class="max-w-xl mx-auto my-24 space-y-12">
    <h1 class="font-bold text-center text-8xl">Hi, I'm Hayleigh!</h1>
    <p class="text-xl text-stone-300">
      I'm a web developer and developer relations engineer{" "}
      <span class="line-through text-stone-500">stuck</span> based in the UK. I build
      <TextGradient from="from-pink-300" to="to-rose-300">
        communities
      </TextGradient>
      and write incredible
      <TextGradient from="from-indigo-300" to="to-blue-300">docs</TextGradient>.
      Interested?{" "}
      <a href="mailto:me@hayleigh.dev" class="underline"> Let's chat!</a>
    </p>
  </main>

  <Highlights
    items={[
      { label: "Cats", value: 2 },
      { label: "Time on TikTok", value: "Lots", unit: "mins" },
      { label: "Cups of coffee", value: 3, unit: "/ day" },
      { label: "Discord uptime", value: "99.5%" },
    ]}
  />

  <div class="px-8 space-y-8">
    {posts.map((post) => <PostPreview {...post.frontmatter} />)}
  </div>
</BaseLayout>
