---
import BaseLayout from "../layouts/base.astro";
import TextGradient from "../components/text-gradient.astro";
---

<BaseLayout class="overflow-hidden">
  <div
    style="height: 100vh"
    class="flex items-center justify-center text-6xl font-bold"
  >
    <p>
      Fuck Nazis. Black Lives Matter.
      <TextGradient from="from-blue-400" to="to-blue-300">Trans</TextGradient>
      <span>rights</span>
      <TextGradient from="from-pink-300" to="to-pink-400">now.</TextGradient>
    </p>
  </div>
</BaseLayout>
